body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  width: 940px;
}
@media screen and (max-width: 768px) {
  body {
    width: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 20px 0px;
  margin: auto;
  gap: 30px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.page2 h2 {
  text-decoration: underline #269d80 5px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

a {
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  left: -25px;
}

header {
  background-color: #f6f6f6;
}

#box-recherche {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px #bebebe solid;
  border-bottom: #f6f6f6;
  background-color: #dddddd;
  height: 50px;
}

.icon_map, .icon_map .fas {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: -1px;
  font-size: 1.1em;
}

form > input {
  border-style: none;
  font-size: 1.1em;
  background-color: #dddddd;
}

#btn_principal {
  font-size: x-large;
  color: white;
  padding: 20px;
  border-radius: 2em;
  border: 1px solid #f6f6f6;
  margin-bottom: 20px;
  background: radial-gradient(at 70% 80%, #9356dc, #eb72da);
}
#btn_principal:hover {
  background: radial-gradient(at 70% 80%, #eb72da, #9356dc);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f6f6f6;
  font-size: 1.1em;
  font-weight: 700;
  text-align: left;
  border: solid 1px #f6f6f6;
  border-radius: 1.7em;
  width: 85%;
  margin: auto;
}
nav button:hover {
  background-color: #f2eafb;
}
nav button:hover .icon_map, nav button:hover .icon_map .fas, .icon_map nav button:hover .fas {
  color: #9356dc;
}

/**** KEYFRAME COEUR ****/
@keyframes flash-coeur {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.vigniette {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 330px;
  position: relative;
}

.vigniette img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.vigniette .legende {
  height: 30%;
  line-height: 5px;
  /*espacement etre le titre et paragraphe*/
  margin: 5px 10px 5px 10px;
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coeur {
  position: relative;
  padding: 10px;
}

.vigniette .fa-heart {
  position: absolute;
  font-size: 35px;
  bottom: 45px;
  right: 25px;
}

.vigniette .far {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  /*le coeur regular devient transparent et disparait */
}

.vigniette .far:hover {
  opacity: 0;
  /*au survol de la souris le coeur regular disparait*/
}

.vigniette .far:hover + .fas {
  opacity: 1;
  animation: flash-coeur 0.5s ease-in-out;
}

.vigniette .fas {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 1;
  transform-origin: top 50%;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
}

.coeur {
  font-size: 1.2em;
  width: 50px;
  padding: 0px 5px;
}

.etiquette {
  color: #008766;
  background-color: #99e2d0;
  width: 60px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

h6 {
  display: block;
  font-size: 18px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 20px;
  background-color: #353535;
  font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 1.1em;
}
footer a {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
footer a:hover {
  color: #9356dc;
}

.hfooter {
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 3px;
  font-family: "Shrikhand", cursive;
  padding-bottom: 10px;
  width: 100px;
  line-height: 5px;
  /*espacement etre le titre et paragraphe*/
}

/*# sourceMappingURL=index.css.map */
