//Les variables
$blanc: #ffffff;
$noir: #000000;
$fond-gris: #f6f6f6;
$violet-primaire: #9356dc;
$fushia-secondaire: #eb72da;
$fond-tertiaire: #99e2d0;
$police-verte: #269d80;
$fond-sombre: #353535;

$arrondie: 1.7em;
$size: 5px;
$fsize1: 1.1em;

//Mixin

@mixin footer-deco {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $fond-sombre;
    font-family: Shrikhand, sans-serif;
    color: $blanc;
    font-size: $fsize1;
    & a {
        color: $blanc;
        font-family: roboto, sans-serif;
        text-decoration: none;
    }
}

@mixin bouton {
    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: $fond-gris;
        font-size: $fsize1;
        font-weight: 700;
        text-align: left;
        border: solid 1px $fond-gris;
        border-radius: $arrondie;
        width: 85%;
        margin: auto;
        &:hover {
            background-color: lighten($violet-primaire, 35%);
            .icon_map {
                color: $violet-primaire;
            }
        }
    }
}

@mixin shadow {
    text-shadow: $size $size darken($fond-gris, 20%);
}

// SCSS la base de la page Accueil

body {
    font-family: "Roboto", sans-serif;
    color: $noir;
    background-color: $blanc;
    text-align: center;
}

header {
    background-color: $fond-gris;
}

#box-recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px #bebebe solid;
    border-bottom: $fond-gris;
    background-color: darken($fond-gris, 10%);
    height: 50px;
}

.icon_map {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1px;
    font-size: $fsize1;
}

form > input {
    border-style: none;
    font-size: $fsize1;
    background-color: darken($fond-gris, 10%);
}

h2 {
    text-align: left;
    font-weight: bold;
}

h3 {
    width: 30px;
    line-height: 30px;
    font-size: $fsize1;
    text-align: center;
    color: $blanc;
    background-color: $violet-primaire;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: -25px;
}

.fas {
    @extend .icon_map;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @include bouton;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $fond-gris;
    gap: 30px;
}

.vigniette-resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 280px;
    width: 85%;
    margin: auto;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 3px 10px $fond-sombre;
    &:hover {
        cursor: pointer;
        border: 2px solid $violet-primaire;
        transition: ease 0.5s;
    }
}

.case-image {
    display: flex;
    width: 100%;
    height: 55%;
    border-radius: 20px 20px 0 0;
    & img {
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
} /*permet de couvrir la totalité de l'espace en conservant les proportions*/

footer {
    @include footer-deco;
}
h4 {
    font-size: $fsize1 + 0.4;
}
