@mixin bouton {
    .butt {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: $fond-gris;
        font-size: $fsize1;
        font-weight: 700;
        text-align: left;
        border: solid 1px $fond-gris;
        border-radius: $arrondie;
        width: 85%;
        margin: auto;
        &:hover {
            background-color: lighten($violet-primaire, 35%);
            .icon_map {
                color: $violet-primaire;
            }
        }
    }
}

@mixin shadow {
    text-shadow: $size $size darken($fond-gris, 20%);
}

@mixin centrage-horiz {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin boutonClr {
    font-size: x-large;
    color: white;
    padding: 20px;
    border-radius: 2em;
    border: 1px solid $fond-gris;
    margin-bottom: 20px;
    background: radial-gradient(
        at 70% 80%,
        $violet-primaire,
        $fushia-secondaire
    );
    &:hover {
        background: radial-gradient(
            at 70% 80%,
            $fushia-secondaire,
            $violet-primaire
        );
    }
}
