$blanc: #ffffff;
$noir: #000000;
$fond-gris: #f6f6f6;
$fond-gris-fonce: #e7e5e5;
$violet-primaire: #9356dc;
$fushia-secondaire: #eb72da;
$fond-tertiaire: #99e2d0;
$police-verte: #269d80;
$fond-sombre: #353535;
$arrondie: 1.7em;
$size: 5px;
$fsize1: 1.1em;
$fgras: 900;
