@mixin footer-deco {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
    background-color: $fond-sombre;
    font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
    color: $blanc;
    font-size: $fsize1;
    & a {
        color: $blanc;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
    }
    & a:hover {
        color: $violet-primaire;
    }
}

footer {
    @include footer-deco;
}
.hfooter {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 3px;
    font-family: "Shrikhand", cursive;
    padding-bottom: 10px;
    width: 100px;
    line-height: 5px; /*espacement etre le titre et paragraphe*/
}
