header {
    background-color: $fond-gris;
}

#box-recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px #bebebe solid;
    border-bottom: $fond-gris;
    background-color: darken($fond-gris, 10%);
    height: 50px;
}

.icon_map {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    left: -1px;
    font-size: $fsize1;
}

.icon_map .fas {
    @extend .icon_map;
}

form > input {
    border-style: none;
    font-size: $fsize1;
    background-color: darken($fond-gris, 10%);
}

#btn_principal {
    font-size: x-large;
    color: white;
    padding: 20px;
    border-radius: 2em;
    border: 1px solid $fond-gris;
    margin-bottom: 20px;
    background: radial-gradient(
        at 70% 80%,
        $violet-primaire,
        $fushia-secondaire
    );
    &:hover {
        background: radial-gradient(
            at 70% 80%,
            $fushia-secondaire,
            $violet-primaire
        );
    }
}
