body {
    font-family: "Roboto", sans-serif;
    color: $noir;
    background-color: $blanc;
    text-align: center;
    width: 940px;
    @media screen and (max-width: 768px) {
        width: auto;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $fond-gris;
    padding: 20px 0px;
    margin: auto;
    gap: 30px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.page2 h2 {
    text-decoration: underline $police-verte 5px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

a {
    text-decoration: none;
    color: black;
}

h5 {
    font-size: 15px;
    font-weight: bold;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: $blanc;
    background-color: $violet-primaire;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: -25px;
}

p {
    font-size: 20px;
}
